{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
{% if change and not is_popup %}
<li>
    <a class="historylink" href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}">
        {% translate "History" %}
    </a>
</li>
{% if has_absolute_url %}
<li>
    <a class="viewsitelink" href="{{ absolute_url }}" rel="noopener noreferrer" target="_blank">
        {% translate "View on site" %}
    </a>
</li>
{% endif %}
{% endif %}
{% endblock %}